[submodule "C"]
	path = C
	url = https://github.com/MetaversalCorp/SneezeSDK_C.git
[submodule "Cpp"]
	path = Cpp
	url = https://github.com/MetaversalCorp/SneezeSDK_CPP.git
[submodule "CS"]
	path = CS
	url = https://github.com/MetaversalCorp/SneezeSDK_CS.git
[submodule "AS"]
	path = AS
	url = https://github.com/MetaversalCorp/SneezeSDK_AS.git
[submodule "Rust"]
	path = Rust
	url = https://github.com/MetaversalCorp/SneezeSDK_Rust.git
